body {
  position: absolute;
  top: 250px;
  left: 440px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px, 300px, 300px;
  width: 800px;
  height: 200px;
  border: 8px solid orange;
}

.container div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid orange;
  background: rgb(255, 239, 212);
  font-size: 1.5em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.header {
  grid-row: 1/2;
  grid-column: 1/4;
}

.menu {
  grid-row: 2/4;
  grid-column: 1/2;
}

.main {
  grid-row: 2/3;
  grid-column: 2/3;
}

.right {
  grid-row: 2/3;
  grid-column: 3/4;
}

.footer {
  grid-row: 3/4;
  grid-column: 2/4;
}
