section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

body {
  margin: 0;
}

div {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  color: white;
}

.blue {
  background-color: #2a80b9;
  flex-grow: 1;
}

.purple {
  background-color: #8f44ad;
  flex-grow: 2;
}

.green {
  background-color: #16a086;
  flex-grow: 3;
}

.yellow {
  background-color: #f1c40f;
  flex-grow: 4;
}

.orange {
  background-color: #e77e23;
  flex-grow: 5;
}
