body {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: orange;
  padding-top: 70px;
}

.container {
  width: 500px;
  background-color: whitesmoke;
  padding: 50px 100px 50px 100px;
  border-radius: 20px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.todolist {
  background-color: orange;
  margin-top: 40px;
  padding: 20px 30px 20px 30px;
  border-radius: 10px;
}

#my-todo {
  border: none;
  height: 33px;
  width: 80%;
  background-color: gray;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1.1rem;
}

input::placeholder {
  color: white;
}

button {
  border: none;
  width: 50px;
  height: 35px;
  border-radius: 5px;
  background-color: orangered;
  color: whitesmoke;
  font-weight: bold;
  transition: all 0.25;
}

button:hover {
  background-color: cornflowerblue;
}

#clear {
  color: black;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  font-size: 1.5rem;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

#clear:hover {
  background-color: red;
  color: white;
}

ul {
  display: block;
  list-style: none;
  padding-left: 0px;
  padding-bottom: 20px;
}

li {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 8px 12px -2px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  text-align: left;
  transition: all 0.25s;
  margin-top: 10px;
}

li:hover {
  transform: scale(1.05);
}

label {
  padding-left: 10px;
}
