.container {
    display: grid;
    margin: 10px;
    background-color: #6495ed;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    gap: 10px 10px;
    

    font-size: 20px;
    text-align: center;
    padding: 8px;
}

.Header {
    background-color: #e0ffff;
    grid-column: 1/4;
    grid-row: 1/2;
    padding: 40px;
}

.Header:hover {
    background-color: floralwhite;
}

.Menu {
    background-color: #e0ffff;
    grid-column: 1/2;
    grid-row: 2/4;
    padding: 90px;
}

.Main {
    background-color: #e0ffff;
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 40px;
}

.Right {
    background-color: #e0ffff;
    grid-column: 3/4;
    grid-row: 2/3;
    padding: 40px;
}

.Footer {
    background-color: #e0ffff;
    grid-column: 2/4;
    grid-row: 3/4;
    padding: 40px;
}