.container {
  position: absolute;
  display: flex;
  top: 280px;
  left: 350px;
  animation: start 1s ease-out;
}

.container div {
  width: 200px;
  height: 200px;
  color: white;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s;
}

.container div:hover {
  transform: scale(1.25);
}

.first {
  background: rgb(74, 115, 238);
}

.second {
  background: rgb(188, 3, 188);
}

.third {
  background: rgb(0, 175, 117);
}

.fourth {
  background: rgb(230, 230, 27);
}

.fifth {
  background: orange;
}

@keyframes start {
  from {
    top: 0px;
  }
  to {
    top: 280px;
  }
}
