.main_container{
    border: 2px solid royalblue;
    background-color: royalblue;
    border-radius: 12px;
    text-align: center;
    margin: 4% 16% 0 16%;
}

h1{
    color:white;
}

.wtd{
    width: 72%;
    height: 40px;
    border-radius: 4px;
    font-size: 20pt;
    border: none;
}

.wtd_btn{
    width: 16%;
    margin-left: 4px;
    height: 40px;
    border-radius: 4px;
    border: none;
    font-size: 20pt;
    background-color: white;
    color: royalblue;
}
