body {
  margin: 0;
  height: 200vh;
}
section {
  background: url("https://www.starbucks.co.kr/common/img/main/fav_prod_bg_new.jpg")
    fixed;
  background-size: contain;
  height: 80vh;
  padding-top: 10vh;
}

section > div {
  width: 30vw;
  height: auto;
  position: absolute;
  left: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: right;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.bannerImg {
  position: absolute;
  right: 10vw;
  height: 60vh;
}
h1 {
  color: white;
  font-size: 5em;
  left: 5vw;
  position: relative;

  font-weight: 700;
  line-height: 0.9em;
  animation: slide-right 2s;
}

h2 {
  left: 5vw;
  position: relative;
  margin-bottom: 5vh;

  color: white;
  font-size: 3em;
  font-weight: 400;
  animation: slide-right 2s;
}

P {
  left: 5vw;
  line-height: 0.8;
  color: white;
  font-size: 1.2em;
  position: relative;
  font-weight: 400;
  animation: slide-right 2.5s;
}

.btn {
  position: relative;
  left: 5vw;
  align-self: flex-end;
  font-size: 0.5em;
  animation: slide-right 2.5s;
}

@keyframes slide-right {
  from {
    left: -1000px;
    opacity: 0;
  }
  to {
    left: 5vw;
    opacity: 1;
  }
} ;
