#click {
    background-color: pink;
    width: 300px;
    height: 100px;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px gray;
}

#click:hover {
    background-color: rgb(255, 220, 220);
}