#openBtn {
  width: 300px;
  height: 100px;
  border-radius: 10px;
  background-color: orange;
  border-color: white;
  color: white;
  font-weight: bold;
}

#openBtn:hover {
  background-color: red;
}
