section {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.5rem;
  padding: 0.5rem;
  align-items: stretch;
  background-color: steelblue;
}
.header {
  grid-column: 1 / 8;
  grid-row: 1 / 2;
}
.menu {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}
.main {
  grid-column: 2 / 6;
  grid-row: 2 / 3;
}
.right {
  grid-column: 6 / 8;
  grid-row: 2 / 3;
}

.footer {
  grid-column: 2 / 8;
  grid-row: 3;
}

section > div {
  background-color: lightblue;
  text-align: center;
  font-weight: 700;
  padding: 0.7rem;
}
