body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#wrapper {
    margin: 0 auto;
    background-color: lightblue;
    border-radius: 3rem;
    width: 20vw;
    height: 20vh;
    padding: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
p {
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
}

.login-input {
    margin: 0.7rem;
    height: 1.8rem;
    border: 0;
    border-radius: 0.5rem;
    padding-left: 1rem;
}
.btn {
    background-color: khaki;
    height: 2rem;
}
.btn:hover {
    background-color: darksalmon;
}
